SampleNodeRedFlow/Node-Red_BME280_flows.json
[
    {
        "id": "5cde9e47.37ee58",
        "type": "tab",
        "label": "フロー 10",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b327a923.f78d68",
        "type": "debug",
        "z": "5cde9e47.37ee58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1259.11669921875,
        "y": 857.5,
        "wires": []
    },
    {
        "id": "ae516f08.ab3988",
        "type": "serial request",
        "z": "5cde9e47.37ee58",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 674.1166381835938,
        "y": 791.25,
        "wires": [
            [
                "f7987867.92b328"
            ]
        ]
    },
    {
        "id": "45152038.7b48a",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "測定値読み込み",
        "func": "var buf = new Buffer(8); \n\nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0xFA;//tmp msb\nbuf[4]=0x53;//restart\nbuf[5]=0xEE+1;//i2c addr \nbuf[6]=0x03;//recieve data 8\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 441.13323974609375,
        "y": 787,
        "wires": [
            [
                "ae516f08.ab3988"
            ]
        ]
    },
    {
        "id": "21b40412.102204",
        "type": "inject",
        "z": "5cde9e47.37ee58",
        "name": "",
        "topic": "温度読み込み",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 218.24993896484375,
        "y": 787.25,
        "wires": [
            [
                "45152038.7b48a"
            ]
        ]
    },
    {
        "id": "f7987867.92b328",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "受信データ数式変換",
        "func": "var reg = global.get(\"REG\");\nvar t1,t2,t3,t4,t5,t,t_f,res;\n\nt1 = msg.payload[0]<<12;\nt2 = msg.payload[1]<<4;\nt3 = msg.payload[2]>>4;\n\nt = t1 | t2 | t3;\n\n\n\nt1 = (t >> 3);\nt2 = (reg.T1 << 1);\nt3 = t1-t2;\nt4 = (t3* reg.T2);\nt5 = t4>> 11;\n\nt1=(t >> 4)- (reg.T1);\nt2=(t >> 4) - (reg.T1);\nt3=(t1 * t2) >> 12;\nt4=(t3 * reg.T3)>> 14;\n\nt_f = t4 + t5;\n\nglobal.set(\"T_fine\",t_f);\n\nres = (t_f * 5 + 128);\nres = res >> 8;\nres = res/100.0;\nmsg.payload=Math.round(100*res)/100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 875,
        "y": 790,
        "wires": [
            [
                "d7672c2f.eabd68"
            ]
        ]
    },
    {
        "id": "5b4a272f.9206d",
        "type": "serial out",
        "z": "5cde9e47.37ee58",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 876.1167297363281,
        "y": 211.25,
        "wires": []
    },
    {
        "id": "3495773a.d53db",
        "type": "inject",
        "z": "5cde9e47.37ee58",
        "name": "",
        "topic": "初期化",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 195,
        "y": 173,
        "wires": [
            [
                "151005ee.3f5e1a"
            ]
        ]
    },
    {
        "id": "72a2103e.85b9d8",
        "type": "comment",
        "z": "5cde9e47.37ee58",
        "name": "BME280 サンプル",
        "info": "",
        "x": 220.00003051757812,
        "y": 124,
        "wires": []
    },
    {
        "id": "86223361.7623e",
        "type": "delay",
        "z": "5cde9e47.37ee58",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 449.7500305175781,
        "y": 313.75,
        "wires": [
            [
                "db7f4a89.43c2e8"
            ]
        ]
    },
    {
        "id": "aed5f5a6.e1fb48",
        "type": "delay",
        "z": "5cde9e47.37ee58",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 452.7500305175781,
        "y": 243.75,
        "wires": [
            [
                "674a2715.a8f9c"
            ]
        ]
    },
    {
        "id": "151005ee.3f5e1a",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "Soft Reset 1",
        "func": "var os_h = 1;           //Humidity oversampling x 1\nvar ctrl_hum_reg = os_h;\n\nvar buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x02;//send data\nbuf[3]=0xF2;//BME280_Ctrl_Hum\nbuf[4]=ctrl_hum_reg;\nbuf[5]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 457.7500305175781,
        "y": 183.75,
        "wires": [
            [
                "aed5f5a6.e1fb48",
                "5b4a272f.9206d"
            ]
        ]
    },
    {
        "id": "674a2715.a8f9c",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "Soft Reset 2",
        "func": "var os_t = 1;           //Temperature oversampling x 1\nvar os_p = 1;           //Pressure oversampling x 1\nvar mode = 3;           //Normal mode\n\nvar ctrl_meas_reg = (os_t << 5) | (os_p << 2) | mode;\n\n\n\nvar buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x02;//send data\nbuf[3]=0xF4;//BME280_Ctrl_Meas\nbuf[4]=ctrl_meas_reg;\nbuf[5]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 618.75,
        "y": 242.75,
        "wires": [
            [
                "86223361.7623e",
                "5b4a272f.9206d"
            ]
        ]
    },
    {
        "id": "db7f4a89.43c2e8",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "Soft Reset 3",
        "func": "var time_sb = 5;        //Tstandby 1000ms\nvar filter = 0;         //Filter off\nvar en_spi3w = 0;       //3-wire SPI Disable\nvar config_reg    = (time_sb << 5) | (filter << 2) | en_spi3w;\n\n\nvar buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x02;//send data\nbuf[3]=0xF5;//BME280_Config\nbuf[4]=config_reg;\nbuf[5]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620.75,
        "y": 314.75,
        "wires": [
            [
                "5b4a272f.9206d",
                "a67d62f.1f1fa2"
            ]
        ]
    },
    {
        "id": "9c22c3eb.667538",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "TRIM読み込み[Treg]",
        "func": "var buf = new Buffer(8); \nvar Treg = 0x88;\n\n\nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=Treg;\nbuf[4]=0x53;//restart\nbuf[5]=0xEE+1;//i2c addr \nbuf[6]=0x24;//recieve data 8\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 491.75,
        "y": 416.75,
        "wires": [
            [
                "9f0804e.b4324f8"
            ]
        ]
    },
    {
        "id": "9f0804e.b4324f8",
        "type": "serial request",
        "z": "5cde9e47.37ee58",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 700.75,
        "y": 415.75,
        "wires": [
            [
                "3f45dfff.e8208"
            ]
        ]
    },
    {
        "id": "8af139f7.a6f65",
        "type": "inject",
        "z": "5cde9e47.37ee58",
        "name": "",
        "topic": "TRIMデータ読み込み",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 201.75,
        "y": 404.75,
        "wires": [
            [
                "9c22c3eb.667538"
            ]
        ]
    },
    {
        "id": "3f45dfff.e8208",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "受信データ数式変換",
        "func": "var reg=\n        {   T1:0.0,T2:0.0,T3:0.0,\n            P1:0.0,P2:0.0,P3:0.0,P4:0.0,P5:0.0,P6:0.0,P7:0.0,P8:0.0,P9:0.0,\n            H1:0.0,H2:0.0,H3:0.0,H4:0.0,H5:0.0,H6:0.0};\n\nreg.T1 = (msg.payload[1]<<8)+(msg.payload[0]);\nreg.T2 = (msg.payload[3] & (1 << 7))?(0xFFFF0000 |(msg.payload[3]<<8)+(msg.payload[2])):((msg.payload[3]<<8)+(msg.payload[2]));\nreg.T3 = (msg.payload[5] & (1 << 7))?(0xFFFF0000 |(msg.payload[5]<<8)+(msg.payload[4])):((msg.payload[5]<<8)+(msg.payload[4]));\nreg.P1 = (msg.payload[7]<<8)+(msg.payload[6]);\nreg.P2 = (msg.payload[9] & (1 << 7))?(0xFFFF0000 |(msg.payload[9]<<8)+(msg.payload[8])):((msg.payload[9]<<8)+(msg.payload[8]));\nreg.P3 = (msg.payload[11] & (1 << 7))?(0xFFFF0000 |(msg.payload[11]<<8)+(msg.payload[10])):((msg.payload[11]<<8)+(msg.payload[10]));\nreg.P4 = (msg.payload[13] & (1 << 7))?(0xFFFF0000 |(msg.payload[13]<<8)+(msg.payload[12])):((msg.payload[13]<<8)+(msg.payload[12]));\nreg.P5 = (msg.payload[15] & (1 << 7))?(0xFFFF0000 |(msg.payload[15]<<8)+(msg.payload[14])):((msg.payload[15]<<8)+(msg.payload[14]));\nreg.P6 = (msg.payload[17] & (1 << 7))?(0xFFFF0000 |(msg.payload[17]<<8)+(msg.payload[16])):((msg.payload[17]<<8)+(msg.payload[16]));\nreg.P7 = (msg.payload[19] & (1 << 7))?(0xFFFF0000 |(msg.payload[19]<<8)+(msg.payload[18])):((msg.payload[19]<<8)+(msg.payload[18]));\nreg.P8 = (msg.payload[21] & (1 << 7))?(0xFFFF0000 |(msg.payload[21]<<8)+(msg.payload[20])):((msg.payload[21]<<8)+(msg.payload[20]));\nreg.P9 = (msg.payload[23] & (1 << 7))?(0xFFFF0000 |(msg.payload[23]<<8)+(msg.payload[22])):((msg.payload[23]<<8)+(msg.payload[22]));\n\nglobal.set(\"REG\",reg);\n\nmsg.payload=reg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 919.75,
        "y": 414.75,
        "wires": [
            [
                "40387cf0.cb4594"
            ]
        ]
    },
    {
        "id": "b53495b2.4349f8",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "TRIM読み込み[Hreg]",
        "func": "var buf = new Buffer(8); \nvar Hreg = 0xA1;\n\n\nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=Hreg;\nbuf[4]=0x53;//restart\nbuf[5]=0xEE+1;//i2c addr \nbuf[6]=0x1;//recieve data 8\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 675.75,
        "y": 495.75,
        "wires": [
            [
                "3571e3d9.cfc93c"
            ]
        ]
    },
    {
        "id": "40387cf0.cb4594",
        "type": "delay",
        "z": "5cde9e47.37ee58",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470.75,
        "y": 496.75,
        "wires": [
            [
                "b53495b2.4349f8"
            ]
        ]
    },
    {
        "id": "3571e3d9.cfc93c",
        "type": "serial request",
        "z": "5cde9e47.37ee58",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 871.75,
        "y": 496.75,
        "wires": [
            [
                "96162ff8.38c82"
            ]
        ]
    },
    {
        "id": "96162ff8.38c82",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "受信データ数式変換",
        "func": "var reg=global.get(\"REG\");\n    \nreg.H1 = (msg.payload[0]);\nglobal.set(\"REG\",reg);\n\nmsg.payload=reg;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1069.75,
        "y": 497.75,
        "wires": [
            [
                "b01435da.0aca68"
            ]
        ]
    },
    {
        "id": "b01435da.0aca68",
        "type": "delay",
        "z": "5cde9e47.37ee58",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 469.75,
        "y": 574.75,
        "wires": [
            [
                "77a7bb88.93e5b4"
            ]
        ]
    },
    {
        "id": "77a7bb88.93e5b4",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "TRIM読み込み[HHreg]",
        "func": "var buf = new Buffer(8); \nvar HHreg = 0xE1;\n\n\nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=HHreg;\nbuf[4]=0x53;//restart\nbuf[5]=0xEE+1;//i2c addr \nbuf[6]=0x7;//recieve data 8\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 687.75,
        "y": 575.75,
        "wires": [
            [
                "96292111.3e0478"
            ]
        ]
    },
    {
        "id": "96292111.3e0478",
        "type": "serial request",
        "z": "5cde9e47.37ee58",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 873.75,
        "y": 573.75,
        "wires": [
            [
                "c5414b33.81283"
            ]
        ]
    },
    {
        "id": "c5414b33.81283",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "受信データ数式変換",
        "func": "var reg = global.get(\"REG\");\n\nreg.H2 = (msg.payload[1] & (1 << 7))?(0xFFFF0000 |(msg.payload[1]<<8)+(msg.payload[0])):((msg.payload[1]<<8)+(msg.payload[0]));\nreg.H3 = msg.payload[2];\nreg.H4 = (msg.payload[3] & (1 << 7))?(0xFFFF0000 |(msg.payload[3]<<4)+(0x0F & msg.payload[4])):((msg.payload[3]<<4)+(0x0F & msg.payload[4]));\nreg.H5 = (msg.payload[5] & (1 << 7))?(0xFFFF0000 |(msg.payload[5]<<4)+(0x0F & (msg.payload[4]>>4))):((msg.payload[5]<<4)+(0x0F & (msg.payload[4]>>4)));\nreg.H6 = msg.payload[6];\n\nglobal.set(\"REG\",reg);\n\nmsg.payload=reg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1068.75,
        "y": 572.75,
        "wires": [
            [
                "551c5c33.21dd1c"
            ]
        ]
    },
    {
        "id": "551c5c33.21dd1c",
        "type": "debug",
        "z": "5cde9e47.37ee58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1282.75,
        "y": 571.75,
        "wires": []
    },
    {
        "id": "ac20ade9.6172a8",
        "type": "serial request",
        "z": "5cde9e47.37ee58",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 669.75,
        "y": 854.75,
        "wires": [
            [
                "ccf2495a.2ce188"
            ]
        ]
    },
    {
        "id": "d92ed9d0.8b17d",
        "type": "inject",
        "z": "5cde9e47.37ee58",
        "name": "",
        "topic": "湿度読み込み",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 205.88330078125,
        "y": 926.75,
        "wires": [
            [
                "f843745.3920a08"
            ]
        ]
    },
    {
        "id": "560b08a0.a676b8",
        "type": "serial request",
        "z": "5cde9e47.37ee58",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 671.86669921875,
        "y": 913.75,
        "wires": [
            [
                "8cfa9b9d.e14bc8"
            ]
        ]
    },
    {
        "id": "b494e9c3.2231f",
        "type": "inject",
        "z": "5cde9e47.37ee58",
        "name": "",
        "topic": "気圧読み込み",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 208,
        "y": 985.75,
        "wires": [
            [
                "4067535d.1f90ec"
            ]
        ]
    },
    {
        "id": "f843745.3920a08",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "測定値読み込み",
        "func": "var buf = new Buffer(8); \n\nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0xFD;//hmd msb\nbuf[4]=0x53;//restart\nbuf[5]=0xEE+1;//i2c addr \nbuf[6]=0x02;//recieve data 8\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 432.75,
        "y": 929.75,
        "wires": [
            [
                "ac20ade9.6172a8"
            ]
        ]
    },
    {
        "id": "4067535d.1f90ec",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "測定値読み込み",
        "func": "var buf = new Buffer(8); \n\nbuf[0]=0x53;//start\nbuf[1]=0xEE;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0xF7;//tmp msb\nbuf[4]=0x53;//restart\nbuf[5]=0xEE+1;//i2c addr \nbuf[6]=0x03;//recieve data 8\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 432.75,
        "y": 993.75,
        "wires": [
            [
                "560b08a0.a676b8"
            ]
        ]
    },
    {
        "id": "ccf2495a.2ce188",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "受信データ数式変換",
        "func": "var reg = global.get(\"REG\");\nvar h1,h2,h3,h4,h5,h6,h7,res;\n\nvar h_raw =  msg.payload[0]<<8 |  msg.payload[1];\n\n\nvar x1 = global.get(\"T_fine\") - 76800;\n\n\n\nh1 = h_raw << 14;\nh2 = reg.H4 << 20;\nh3 = reg.H5 * x1;\nh4 = h1 - h2 - h3 + 16384;\nh1 = h4 >>15;\nh2 = x1 * reg.H6;\nh2 = h2 >>10;\nh3 = x1 * reg.H3;\nh4 = h3 >>11 + 32768;\nh5 = h2 * h4 >>10;\nh6 = h5 + 2097152;\nh7 = h6 * reg.H2;\nh5 = (h7 + 8192)>>14;\nx1 = h1 * h5;\t\t\t\t\t\t\t\t\t\t\t\nh1 = (x1 >> 15) * (x1 >> 15);\nh2 = h1 >>7;\nh3 = h2 * reg.H1;\nx1 = x1 - (h3 >> 4);\nx1 = (x1 < 0 ? 0 : x1);\nx1 = (x1 > 419430400 ? 419430400 : x1);\nres = (x1 >> 12)/1024.0;\n\nmsg.payload = Math.round(100*res)/100;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 874.75,
        "y": 851.75,
        "wires": [
            [
                "c0491da3.c3bc98"
            ]
        ]
    },
    {
        "id": "8cfa9b9d.e14bc8",
        "type": "function",
        "z": "5cde9e47.37ee58",
        "name": "受信データ数式変換",
        "func": "var reg = global.get(\"REG\");\nvar p1,p2,p3,p4,p5,p,p_tmp,pres,res;\n\np1 = (msg.payload[0]<<12);\np2 = (msg.payload[1]<<4);\np3 = msg.payload[2]>>4;\n\np = p1 | p2 | p3;\n\np1 = (global.get(\"T_fine\")  / 2.0) - 64000.0;\np2 = (((p1 / 4.0) * (p1 / 4.0)) / 2048) * reg.P6;\np2 = p2 + ((p1 * reg.P5) * 2.0);\np2 = (p2 / 4.0) + (reg.P4 * 65536.0);\np1 = (((reg.P3 * (((p1 / 4.0) * (p1 / 4.0)) / 8192)) / 8)  + ((reg.P2 * p1) / 2.0)) / 262144;\np1 = ((32768 + p1) * reg.P1) / 32768;\n\nif(p1===0)return msg;\n\npres = ((1048576 - p) - (p2 / 4096)) * 3125;\nif (pres < 0x80000000){\n\tpres = (pres * 2.0) / p1;\n    \n}\nelse{\n\tpres = (pres / p1) * 2;\n}\np1 = (reg.P9 * (((pres / 8.0) * (pres / 8.0)) / 8192.0)) / 4096;\np2 = ((pres / 4.0) * reg.P8) / 8192.0;\npres = pres + ((p1 + p2 + reg.P7) / 16.0)  ;\n\npres=pres/100.0;\nmsg.payload =  Math.round(100*pres)/100;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 879.75,
        "y": 911.75,
        "wires": [
            [
                "481e3882.0e2808"
            ]
        ]
    },
    {
        "id": "1fe79c16.e29e54",
        "type": "comment",
        "z": "5cde9e47.37ee58",
        "name": "湿度読み込み、気圧読み込みは事前の温度読み込みが必要",
        "info": "",
        "x": 323.8666687011719,
        "y": 865.5,
        "wires": []
    },
    {
        "id": "d7672c2f.eabd68",
        "type": "template",
        "z": "5cde9e47.37ee58",
        "name": "単位追加",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "温度: {{payload}} ℃",
        "output": "str",
        "x": 1079.86669921875,
        "y": 789.25,
        "wires": [
            [
                "b327a923.f78d68"
            ]
        ]
    },
    {
        "id": "c0491da3.c3bc98",
        "type": "template",
        "z": "5cde9e47.37ee58",
        "name": "単位追加",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "湿度: {{payload}} ％",
        "output": "str",
        "x": 1072.75,
        "y": 849.75,
        "wires": [
            [
                "b327a923.f78d68"
            ]
        ]
    },
    {
        "id": "481e3882.0e2808",
        "type": "template",
        "z": "5cde9e47.37ee58",
        "name": "単位追加",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "気圧: {{payload}} hPa",
        "output": "str",
        "x": 1073.75,
        "y": 907.75,
        "wires": [
            [
                "b327a923.f78d68"
            ]
        ]
    },
    {
        "id": "a67d62f.1f1fa2",
        "type": "delay",
        "z": "5cde9e47.37ee58",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 452.75,
        "y": 368.75,
        "wires": [
            [
                "9c22c3eb.667538"
            ]
        ]
    },
    {
        "id": "c8df3964.3efad",
        "type": "serial-port",
        "z": "",
        "serialport": "COM17",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "100",
        "bin": "bin",
        "out": "time",
        "addchar": "",
        "responsetimeout": ""
    }
]