SampleNodeRedFlow/Node-Red_GPIO_flows.json
[{"id":"e898410c.0ad968","type":"tab","label":"フロー 9","disabled":false,"info":""},{"id":"ccd68fa8.3bd2b","type":"debug","z":"e898410c.0ad968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":996.470947265625,"y":178.75,"wires":[]},{"id":"25d98142.5cf366","type":"serial request","z":"e898410c.0ad968","name":"","serial":"c8df3964.3efad","x":720.4708862304688,"y":172.5,"wires":[["ccd68fa8.3bd2b"]]},{"id":"95237733.bc9938","type":"function","z":"e898410c.0ad968","name":"GPIO Port Config Write","func":"// IO0:OUT, IO1:OUT,    IO2:Input,   IO3:OUT\n\nvar gpio0=0b10;//Output\nvar gpio1=0b10;//Output\nvar gpio2=0b10;//Output\nvar gpio3=0b10;//Output\nvar gpio4=0b01;//Input\nvar gpio5=0b01;//Input\nvar gpio6=0b01;//Input\nvar gpio7=0b01;//Input\n\nvar gpioPortConf1 = gpio0 + (gpio1<<2) + (gpio2<<4) + (gpio3<<6);\nvar gpioPortConf2 = gpio4 + (gpio5<<2) + (gpio6<<4) + (gpio7<<6);\nvar state=0x00;\n\nvar buf = new Buffer(8); \nbuf[0]=0x57;            //Write Internal Register\nbuf[1]=0x02;            //Port Config1\nbuf[2]=gpioPortConf1;   //Setting data1\nbuf[3]=0x03;            //Port Config2\nbuf[4]=gpioPortConf2;   //Setting data2\nbuf[5]=0x04;            //Port Config2\nbuf[6]=state;           //Output all off\nbuf[7]=0x50;            //stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":609.4874877929688,"y":518.2500152587891,"wires":[["6a55208b.354978"]]},{"id":"10290094.cfd297","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO0~3OUT,IO4~7IN設定書き込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305.60418701171875,"y":518.5,"wires":[["95237733.bc9938"]]},{"id":"a6b5d5e1.195af8","type":"comment","z":"e898410c.0ad968","name":"GPIOデモ ","info":"","x":234.10418701171875,"y":100,"wires":[]},{"id":"223abed6.88cc8a","type":"function","z":"e898410c.0ad968","name":"GPIO Port Config Read","func":"var buf = new Buffer(4); \nbuf[0]=0x52;            //Read Internal Register\nbuf[1]=0x02;            //Port Config1\nbuf[2]=0x03;            //Port Config2\nbuf[3]=0x50;            //stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":522.1041870117188,"y":173,"wires":[["25d98142.5cf366"]]},{"id":"6a55208b.354978","type":"serial out","z":"e898410c.0ad968","name":"","serial":"c8df3964.3efad","x":830.1041870117188,"y":522.0000152587891,"wires":[]},{"id":"1fca9de2.0647f2","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO設定読み込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":236.56666564941406,"y":175.566650390625,"wires":[["223abed6.88cc8a"]]},{"id":"fd82b2f9.4f2bb","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO0_ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":226.9499969482422,"y":577,"wires":[["f94fab6.bb4b0d8"]]},{"id":"e73467d6.76055","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO0_OFF","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":237.56666564941406,"y":627.566650390625,"wires":[["f94fab6.bb4b0d8"]]},{"id":"f94fab6.bb4b0d8","type":"function","z":"e898410c.0ad968","name":"IO0状態セット","func":"\nvar state=global.get(\"IO_STATE\");\nvar pos=0;\n\nif(msg.payload===1){\n    state = state | (1 << pos);\n}\n\nif(msg.payload===0){\n    state = state & ~(1 << pos);\n}\n\nglobal.set(\"IO_STATE\",state);\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":458.566650390625,"y":598.566650390625,"wires":[["f24ff27e.cb864"]]},{"id":"46091423.a37d9c","type":"serial out","z":"e898410c.0ad968","name":"","serial":"c8df3964.3efad","x":1029.566650390625,"y":663.566650390625,"wires":[]},{"id":"f24ff27e.cb864","type":"function","z":"e898410c.0ad968","name":"GPIO0~3状態書き込み","func":"\nvar buf = new Buffer(3); \nbuf[0]=0x4F;            //Write Internal Register\nbuf[1]=msg.payload;     //\nbuf[2]=0x50;            //stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":825.566650390625,"y":661.566650390625,"wires":[["46091423.a37d9c"]]},{"id":"c39e5e91.1dba18","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO1_ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":223.56666564941406,"y":676.566650390625,"wires":[["65f1e249.c058e4"]]},{"id":"f1486fc2.0a96a","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO1_OFF","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":234.18333435058594,"y":727.13330078125,"wires":[["65f1e249.c058e4"]]},{"id":"65f1e249.c058e4","type":"function","z":"e898410c.0ad968","name":"IO1状態セット","func":"\nvar state=global.get(\"IO_STATE\");\nvar pos=1;//IO1\n\nif(msg.payload===1){\n    state = state | (1 << pos);\n}\n\nif(msg.payload===0){\n    state = state & ~(1 << pos);\n}\n\nglobal.set(\"IO_STATE\",state);\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":455.1833190917969,"y":698.13330078125,"wires":[["f24ff27e.cb864"]]},{"id":"12d06049.cb8f98","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO2_ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":226.56666564941406,"y":783.9666748046875,"wires":[["dda602c0.5b90d8"]]},{"id":"a91678f.994aa08","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO2_OFF","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":237.18333435058594,"y":834.5333251953125,"wires":[["dda602c0.5b90d8"]]},{"id":"dda602c0.5b90d8","type":"function","z":"e898410c.0ad968","name":"IO2状態セット","func":"\nvar state=global.get(\"IO_STATE\");\nvar pos=2;//IO2\n\nif(msg.payload===1){\n    state = state | (1 << pos);\n}\n\nif(msg.payload===0){\n    state = state & ~(1 << pos);\n}\n\nglobal.set(\"IO_STATE\",state);\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":458.1833190917969,"y":805.5333251953125,"wires":[["f24ff27e.cb864"]]},{"id":"163eee69.553342","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO3_ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":229.56666564941406,"y":896.9666748046875,"wires":[["8ca2bc29.9203f"]]},{"id":"6c18021d.b8ce6c","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO3_OFF","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240.18333435058594,"y":947.5333251953125,"wires":[["8ca2bc29.9203f"]]},{"id":"8ca2bc29.9203f","type":"function","z":"e898410c.0ad968","name":"IO3状態セット","func":"\nvar state=global.get(\"IO_STATE\");\nvar pos=3;//IO3\n\nif(msg.payload===1){\n    state = state | (1 << pos);\n}\n\nif(msg.payload===0){\n    state = state & ~(1 << pos);\n}\n\nglobal.set(\"IO_STATE\",state);\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":461.1833190917969,"y":918.5333251953125,"wires":[["f24ff27e.cb864"]]},{"id":"8e2b89ac.66ad88","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO4_ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230.5666961669922,"y":1154.3666381835938,"wires":[["4bd532dd.49559c"]]},{"id":"8f48d325.3d8e6","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO4_OFF","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":241.18336486816406,"y":1204.9332885742188,"wires":[["4bd532dd.49559c"]]},{"id":"4bd532dd.49559c","type":"function","z":"e898410c.0ad968","name":"IO4状態セット","func":"\nvar state=global.get(\"IO_STATE\");\nvar pos=0;\n\nif(msg.payload===1){\n    state = state | (1 << pos);\n}\n\nif(msg.payload===0){\n    state = state & ~(1 << pos);\n}\n\nglobal.set(\"IO_STATE\",state);\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":462.183349609375,"y":1175.9332885742188,"wires":[["2c9ae787.416e4"]]},{"id":"4da11e53.b979d","type":"serial out","z":"e898410c.0ad968","name":"","serial":"c8df3964.3efad","x":1033.183349609375,"y":1240.9332885742188,"wires":[]},{"id":"2c9ae787.416e4","type":"function","z":"e898410c.0ad968","name":"GPIO4~7状態書き込み","func":"\nvar buf = new Buffer(3); \nbuf[0]=0x4F;            //Write Internal Register\nbuf[1]=msg.payload<<4;     //\nbuf[2]=0x50;            //stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":829.183349609375,"y":1238.9332885742188,"wires":[["4da11e53.b979d"]]},{"id":"172d784e.4fab88","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO5_ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.18336486816406,"y":1253.9332885742188,"wires":[["b7b91e97.ed77c8"]]},{"id":"287ce16d.86edde","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO5_OFF","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":237.80003356933594,"y":1304.4999389648438,"wires":[["b7b91e97.ed77c8"]]},{"id":"b7b91e97.ed77c8","type":"function","z":"e898410c.0ad968","name":"IO5状態セット","func":"\nvar state=global.get(\"IO_STATE\");\nvar pos=1;//IO5\n\nif(msg.payload===1){\n    state = state | (1 << pos);\n}\n\nif(msg.payload===0){\n    state = state & ~(1 << pos);\n}\n\nglobal.set(\"IO_STATE\",state);\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":458.8000183105469,"y":1275.4999389648438,"wires":[["2c9ae787.416e4"]]},{"id":"8664939b.ed768","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO6_ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230.18336486816406,"y":1361.3333129882812,"wires":[["54442cd9.dbd254"]]},{"id":"913b8550.524b08","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO6_OFF","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240.80003356933594,"y":1411.8999633789062,"wires":[["54442cd9.dbd254"]]},{"id":"54442cd9.dbd254","type":"function","z":"e898410c.0ad968","name":"IO6状態セット","func":"\nvar state=global.get(\"IO_STATE\");\nvar pos=2;//IO6\n\nif(msg.payload===1){\n    state = state | (1 << pos);\n}\n\nif(msg.payload===0){\n    state = state & ~(1 << pos);\n}\n\nglobal.set(\"IO_STATE\",state);\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":461.8000183105469,"y":1382.8999633789062,"wires":[["2c9ae787.416e4"]]},{"id":"a96db94c.f0e518","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO7_ON","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":233.18336486816406,"y":1474.3333129882812,"wires":[["10d2795a.366b2f"]]},{"id":"e09bfde6.f8e3b","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO7_OFF","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":243.80003356933594,"y":1524.8999633789062,"wires":[["10d2795a.366b2f"]]},{"id":"10d2795a.366b2f","type":"function","z":"e898410c.0ad968","name":"IO7状態セット","func":"\nvar state=global.get(\"IO_STATE\");\nvar pos=3;//IO7\n\nif(msg.payload===1){\n    state = state | (1 << pos);\n}\n\nif(msg.payload===0){\n    state = state & ~(1 << pos);\n}\n\nglobal.set(\"IO_STATE\",state);\nmsg.payload=state;\n\nreturn msg;","outputs":1,"noerr":0,"x":464.8000183105469,"y":1495.8999633789062,"wires":[["2c9ae787.416e4"]]},{"id":"3b676bc0.093634","type":"function","z":"e898410c.0ad968","name":"GPIO Port Config Write","func":"// IO0:OUT, IO1:OUT,    IO2:Input,   IO3:OUT\n\nvar gpio0=0b01;//Input\nvar gpio1=0b01;//Input\nvar gpio2=0b01;//Input\nvar gpio3=0b01;//Input\nvar gpio4=0b10;//Output\nvar gpio5=0b10;//Output\nvar gpio6=0b10;//Output\nvar gpio7=0b10;//Output\n\nvar gpioPortConf1 = gpio0 + (gpio1<<2) + (gpio2<<4) + (gpio3<<6);\nvar gpioPortConf2 = gpio4 + (gpio5<<2) + (gpio6<<4) + (gpio7<<6);\nvar state=0x00;\n\nvar buf = new Buffer(8); \nbuf[0]=0x57;            //Write Internal Register\nbuf[1]=0x02;            //Port Config1\nbuf[2]=gpioPortConf1;   //Setting data1\nbuf[3]=0x03;            //Port Config2\nbuf[4]=gpioPortConf2;   //Setting data2\nbuf[5]=0x05;            //IO 4~7\nbuf[6]=state;           //Output All off\nbuf[7]=0x50;            //stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":611.566650390625,"y":1081.5667114257812,"wires":[["182cdf57.d901d1"]]},{"id":"b4f7e5ec.890688","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO0~3IN,IO4~7OUT設定書き込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":307.683349609375,"y":1081.8166961669922,"wires":[["3b676bc0.093634"]]},{"id":"182cdf57.d901d1","type":"serial out","z":"e898410c.0ad968","name":"","serial":"c8df3964.3efad","x":832.183349609375,"y":1085.3167114257812,"wires":[]},{"id":"c46419fd.50787","type":"inject","z":"e898410c.0ad968","name":"","topic":"IO_IN状態読み込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":244.56666564941406,"y":311.16668701171875,"wires":[["83a28483.80ce48"]]},{"id":"83a28483.80ce48","type":"function","z":"e898410c.0ad968","name":"GPIO Port Read","func":"\nvar buf = new Buffer(2); \nbuf[0]=0x49;            //Write Internal Register\nbuf[1]=0x50;            //stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":503.56666564941406,"y":309.76666259765625,"wires":[["3db5.4769aa4bb8"]]},{"id":"3db5.4769aa4bb8","type":"serial request","z":"e898410c.0ad968","name":"","serial":"c8df3964.3efad","x":738.5666656494141,"y":311.9666748046875,"wires":[["b7f51c01.db007"]]},{"id":"7a6ec8ad.1f55","type":"debug","z":"e898410c.0ad968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1174.949966430664,"y":310.86663818359375,"wires":[]},{"id":"b7f51c01.db007","type":"function","z":"e898410c.0ad968","name":"Check Response","func":"var res={\"IO0\":0,\"IO1\":0,\"IO2\":0,\"IO3\":0,\"IO4\":0,\"IO5\":0,\"IO6\":0,\"IO7\":0};\n\nres.IO0 = (msg.payload[0]>>0)&0x01;\nres.IO1 = (msg.payload[0]>>1)&0x01;\nres.IO2 = (msg.payload[0]>>2)&0x01;\nres.IO3 = (msg.payload[0]>>3)&0x01;\nres.IO4 = (msg.payload[0]>>4)&0x01;\nres.IO5 = (msg.payload[0]>>5)&0x01;\nres.IO6 = (msg.payload[0]>>6)&0x01;\nres.IO7 = (msg.payload[0]>>7)&0x01;\n\nmsg.payload = res;\nreturn msg;","outputs":1,"noerr":0,"x":945.5666656494141,"y":311.9666748046875,"wires":[["7a6ec8ad.1f55"]]},{"id":"c8df3964.3efad","type":"serial-port","z":"","serialport":"COM17","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"100","bin":"bin","out":"time","addchar":"","responsetimeout":""}]