SampleNodeRedFlow/Node-Red_CCS811_flows.json
[{"id":"45b46a7c.31ef84","type":"tab","label":"フロー 8","disabled":false,"info":""},{"id":"7aa9427f.73679c","type":"debug","z":"45b46a7c.31ef84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1159.11669921875,"y":583.5,"wires":[]},{"id":"e12d76d2.a3c0b8","type":"serial request","z":"45b46a7c.31ef84","name":"","serial":"c8df3964.3efad","x":780.1166381835938,"y":441.25,"wires":[["5ab4e0e7.af8ed8"]]},{"id":"a5aa31d3.1c0a58","type":"function","z":"45b46a7c.31ef84","name":"測定値読み込み","func":"var buf = new Buffer(8); \nbuf[0]=0x53;//start\nbuf[1]=0xB4;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0x02;//\nbuf[4]=0x53;//restart\nbuf[5]=0xB5;//i2c addr \nbuf[6]=0x08;//recieve data 8\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":580.1332397460938,"y":435,"wires":[["e12d76d2.a3c0b8"]]},{"id":"aa8e881c.0b858","type":"inject","z":"45b46a7c.31ef84","name":"","topic":"読み込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":312.24993896484375,"y":435.25,"wires":[["a5aa31d3.1c0a58"]]},{"id":"5ab4e0e7.af8ed8","type":"function","z":"45b46a7c.31ef84","name":"受信データ数式変換","func":"var res={CO2:0,TVOC:0};\n\n\nres.CO2 = (msg.payload[0]<<8)+(msg.payload[1]);\nres.TVOC = (msg.payload[2]<<8)+(msg.payload[3]);\nmsg.payload=res;\nreturn msg;","outputs":1,"noerr":0,"x":902.9999694824219,"y":583,"wires":[["7aa9427f.73679c"]]},{"id":"db2842cc.5d05d8","type":"serial out","z":"45b46a7c.31ef84","name":"","serial":"c8df3964.3efad","x":976.11669921875,"y":187.25,"wires":[]},{"id":"549a291.5583558","type":"inject","z":"45b46a7c.31ef84","name":"","topic":"初期化","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":304.9999694824219,"y":149,"wires":[["523e1474.900f2c"]]},{"id":"b311f1b7.9e20d","type":"function","z":"45b46a7c.31ef84","name":"App Start","func":"\nvar buf = new Buffer(5); \nbuf[0]=0x53;//start\nbuf[1]=0xB4;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0xF4;//offset 0\nbuf[4]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":738,"y":223,"wires":[["8e198abc.ddd158","db2842cc.5d05d8"]]},{"id":"752f233.ca28edc","type":"comment","z":"45b46a7c.31ef84","name":"CCS811 サンプル","info":"","x":330,"y":100,"wires":[]},{"id":"8e198abc.ddd158","type":"delay","z":"45b46a7c.31ef84","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":559.75,"y":289.75,"wires":[["eb7d715d.a4a978"]]},{"id":"eb7d715d.a4a978","type":"function","z":"45b46a7c.31ef84","name":"Meas Mode","func":"\nvar buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0xB4;//i2c addr\nbuf[2]=0x02;//send data 1\nbuf[3]=0x01;//offset 0\nbuf[4]=0x01<<4;\nbuf[5]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":747.75,"y":288.75,"wires":[["db2842cc.5d05d8"]]},{"id":"d5b16fdd.701ef8","type":"delay","z":"45b46a7c.31ef84","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":562.75,"y":219.75,"wires":[["b311f1b7.9e20d"]]},{"id":"523e1474.900f2c","type":"function","z":"45b46a7c.31ef84","name":"Soft Reset","func":"\nvar buf = new Buffer(9); \nbuf[0]=0x53;//start\nbuf[1]=0xB4;//i2c addr\nbuf[2]=0x04;//send data 1\nbuf[3]=0xFF;//offset \nbuf[4]=0x11;//offset 0\nbuf[5]=0xE5;//offset 0\nbuf[6]=0x72;//offset 0\nbuf[7]=0x8A;//offset 0\nbuf[8]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":567.75,"y":159.75,"wires":[["d5b16fdd.701ef8","db2842cc.5d05d8"]]},{"id":"1349dd21.9fee93","type":"function","z":"45b46a7c.31ef84","name":"ID読み込み","func":"var buf = new Buffer(8); \nbuf[0]=0x53;//start\nbuf[1]=0xB4;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0x20;//offset 0\nbuf[4]=0x53;//restart\nbuf[5]=0xB5;//i2c addr \nbuf[6]=0x01;//recieve data 8\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":582.75,"y":362.75,"wires":[["a5959e7e.ebeb4"]]},{"id":"1d9ab4f5.47fbcb","type":"inject","z":"45b46a7c.31ef84","name":"","topic":"動作チェック","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330.86669921875,"y":354,"wires":[["1349dd21.9fee93"]]},{"id":"a5959e7e.ebeb4","type":"serial request","z":"45b46a7c.31ef84","name":"","serial":"c8df3964.3efad","x":778.75,"y":382.75,"wires":[["7aa9427f.73679c"]]},{"id":"c8df3964.3efad","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"100","bin":"bin","out":"time","addchar":"","responsetimeout":""}]