SampleNodeRedFlow/Node-Red_RTC_DS1307.json
[{"id":"f94e0864.29896","type":"tab","label":"フロー 3","disabled":false,"info":""},{"id":"19da0ab8.67b085","type":"debug","z":"f94e0864.29896","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":903.8667297363281,"y":578.25,"wires":[]},{"id":"d5ea30d8.f31e4","type":"serial request","z":"f94e0864.29896","name":"","serial":"c8df3964.3efad","x":588.86669921875,"y":322,"wires":[["8a9d19f9.0e535"]]},{"id":"e069b7b3.99913","type":"function","z":"f94e0864.29896","name":"RTC読み込み","func":"var buf = new Buffer(8); \nbuf[0]=0x53;//start\nbuf[1]=0xD0;//i2c addr (0x68<1)\nbuf[2]=0x01;//send data 1\nbuf[3]=0x00;//offset 0\nbuf[4]=0x53;//restart\nbuf[5]=0xD1;//i2c addr (0x68<1)+1, write addr+1 = read addr\nbuf[6]=0x07;//recieve data 7\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":378.88330078125,"y":315.75,"wires":[["d5ea30d8.f31e4"]]},{"id":"b1093c3c.a25308","type":"inject","z":"f94e0864.29896","name":"","topic":"DS1307時刻　読み込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":175,"y":221,"wires":[["e069b7b3.99913"]]},{"id":"8a9d19f9.0e535","type":"function","z":"f94e0864.29896","name":"受信データ数式変換","func":"var res={s:0,m:0,h:0,w:0,d:0,M:0,Y:0,str:\"\"};\nres.s=parseInt(msg.payload[0].toString(16));\nres.m=parseInt(msg.payload[1].toString(16));\nres.h=parseInt(msg.payload[2].toString(16));\nres.w=parseInt(msg.payload[3].toString(16));\nres.d=parseInt(msg.payload[4].toString(16));\nres.M=parseInt(msg.payload[5].toString(16));\nres.Y=parseInt(msg.payload[6].toString(16));\n\nvar week=\"\";\nif(res.w==1){\n    week=\"日\";\n}\nelse if(res.w==2){\n    week=\"月\";\n}\nelse if(res.w==3){\n    week=\"火\";\n}\nelse if(res.w==4){\n    week=\"水\";\n}\nelse if(res.w==5){\n    week=\"木\";\n}\nelse if(res.w==6){\n    week=\"金\";\n}\nelse if(res.w==7){\n    week=\"日\";\n}\nres.str= \"20\"+res.Y+\"/\"+res.M+\"/\"+res.d+\"(\"+ week +\") \"+res.h+\":\"+res.m+\":\"+res.s;\nmsg.payload=res;\nreturn msg;","outputs":1,"noerr":0,"x":711.7500305175781,"y":463.75,"wires":[["19da0ab8.67b085"]]},{"id":"bbd4d131.c45198","type":"serial out","z":"f94e0864.29896","name":"","serial":"c8df3964.3efad","x":585.86669921875,"y":639,"wires":[]},{"id":"7555b103.b5a43","type":"inject","z":"f94e0864.29896","name":"","topic":"DS1307時刻　書き込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":142.75,"y":555.75,"wires":[["12c43cbe.91711b"]]},{"id":"12c43cbe.91711b","type":"function","z":"f94e0864.29896","name":"RTC時刻書き込み","func":"var nowdate=new Date();\n\nvar year = nowdate.getFullYear();     // 年(4桁の西暦)\nvar mon  = nowdate.getMonth() + 1;    // 月(1～12)\nvar date = nowdate.getDate();         // 日(1～31)\nvar week = nowdate.getDay();          // 曜日(※0～6)\nvar hour = nowdate.getHours();        // 時(0～23)\nvar min  = nowdate.getMinutes();      // 分(0～59)\nvar sec  = nowdate.getSeconds();      // 秒(0～59)\n\n\nvar buf = new Buffer(12); \nbuf[0]=0x53;//start\nbuf[1]=0xD0;//i2c addr (0x68<1)\nbuf[2]=0x08;//send data 1\nbuf[3]=0x00;//offset 0\nbuf[4]=parseInt(sec, 16);\nbuf[5]=parseInt(min, 16);\nbuf[6]=parseInt(hour, 16);\nbuf[7]=parseInt(week, 16)+1;\nbuf[8]=parseInt(date, 16);\nbuf[9]=parseInt(mon, 16);\nbuf[10]=parseInt(year%1000, 16);\nbuf[11]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":374.75,"y":559.75,"wires":[["19da0ab8.67b085","bbd4d131.c45198"]]},{"id":"3a215725.8db02","type":"comment","z":"f94e0864.29896","name":"DS1307 RTCサンプル","info":"","x":179.75,"y":112.75,"wires":[]},{"id":"c8df3964.3efad","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"100","bin":"bin","out":"time","addchar":"","responsetimeout":""}]