SampleNodeRedFlow/Node-Red_LPS22HH_flows.json
[
    {
        "id": "e04e14f5.0e49b8",
        "type": "tab",
        "label": "フロー 13",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3eafc8da.f89f9",
        "type": "comment",
        "z": "e04e14f5.0e49b8",
        "name": "Pressure Sensor LPS22HH",
        "info": "",
        "x": 226.3333282470703,
        "y": 83.33333587646484,
        "wires": []
    },
    {
        "id": "43819ee4.4742b",
        "type": "function",
        "z": "e04e14f5.0e49b8",
        "name": "WHO_AM_I",
        "func": "var buf = new Buffer(8); \n\nbuf[0]=0x53;//start\nbuf[1]=0xB8;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0x0F;//REG_INTR_STATUS\nbuf[4]=0x53;//restart\nbuf[5]=0xB8+1;//i2c addr+1, write addr+1 = read addr, \nbuf[6]=1;//recieve data 2\nbuf[7]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470.566650390625,
        "y": 145.96669006347656,
        "wires": [
            [
                "ae921240.d08098"
            ]
        ]
    },
    {
        "id": "f9fa42c3.069e88",
        "type": "inject",
        "z": "e04e14f5.0e49b8",
        "name": "接続チェック",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 265.566650390625,
        "y": 145.96669006347656,
        "wires": [
            [
                "43819ee4.4742b"
            ]
        ]
    },
    {
        "id": "ae921240.d08098",
        "type": "serial request",
        "z": "e04e14f5.0e49b8",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 708.566650390625,
        "y": 145.96669006347656,
        "wires": [
            [
                "c42d01b3.264678"
            ]
        ]
    },
    {
        "id": "c42d01b3.264678",
        "type": "function",
        "z": "e04e14f5.0e49b8",
        "name": "チェックデータ",
        "func": "if(msg.payload[0]==0xB3)msg.payload=\"LSP22HH is Found!\";\nelse msg.payload=\"LSP22HH is NOT Found!\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890.566650390625,
        "y": 147.96656799316406,
        "wires": [
            [
                "3a87c990.8351c6"
            ]
        ]
    },
    {
        "id": "3a87c990.8351c6",
        "type": "debug",
        "z": "e04e14f5.0e49b8",
        "name": "結果",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1068.566650390625,
        "y": 147.96656799316406,
        "wires": []
    },
    {
        "id": "8f7c9e3a.4c12",
        "type": "function",
        "z": "e04e14f5.0e49b8",
        "name": "Press out",
        "func": "var buf = new Buffer(8); \n\nbuf[0]=0x53;//start\nbuf[1]=0xB8;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0x28;//PRESS_OUT_XL\nbuf[4]=0x53;//restart\nbuf[5]=0xB8+1;//i2c addr+1, write addr+1 = read addr, \nbuf[6]=3;//recieve data 3\nbuf[7]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 476.566650390625,
        "y": 315.1666259765625,
        "wires": [
            [
                "f92ecd26.b83048"
            ]
        ]
    },
    {
        "id": "e5694840.85647",
        "type": "inject",
        "z": "e04e14f5.0e49b8",
        "name": "気圧読み込み",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 266.566650390625,
        "y": 316.1666259765625,
        "wires": [
            [
                "8f7c9e3a.4c12"
            ]
        ]
    },
    {
        "id": "f92ecd26.b83048",
        "type": "serial request",
        "z": "e04e14f5.0e49b8",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 709.566650390625,
        "y": 316.1666259765625,
        "wires": [
            [
                "b4e34d05.05a758"
            ]
        ]
    },
    {
        "id": "49240752.bab048",
        "type": "debug",
        "z": "e04e14f5.0e49b8",
        "name": "結果",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1063.566650390625,
        "y": 320.16650390625,
        "wires": []
    },
    {
        "id": "49730726.e3b5b",
        "type": "serial out",
        "z": "e04e14f5.0e49b8",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 711.566650390625,
        "y": 220.56666564941406,
        "wires": []
    },
    {
        "id": "a4e0c9f3.caab1",
        "type": "inject",
        "z": "e04e14f5.0e49b8",
        "name": "初期化",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 247.566650390625,
        "y": 222.56666564941406,
        "wires": [
            [
                "192d3cfb.920b93"
            ]
        ]
    },
    {
        "id": "192d3cfb.920b93",
        "type": "function",
        "z": "e04e14f5.0e49b8",
        "name": "CTRL_REG1",
        "func": "var buf = new Buffer(6); \n\nbuf[0]=0x53;//start\nbuf[1]=0xB8;//i2c addr\nbuf[2]=0x02;//send data 1\nbuf[3]=0x10;//CTRL_REG1\nbuf[4]=0b00110010;//25 Hz\nbuf[5]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 471.566650390625,
        "y": 221.56666564941406,
        "wires": [
            [
                "49730726.e3b5b"
            ]
        ]
    },
    {
        "id": "b4e34d05.05a758",
        "type": "function",
        "z": "e04e14f5.0e49b8",
        "name": "チェックデータ",
        "func": "\n\nvar p1,p2,p3,p4,p5,p,p_tmp,pres,res;\n\np1 = (msg.payload[2]<<16);\np2 = (msg.payload[1]<<8);\np3 = msg.payload[0];\n\n\np = p1 | p2 | p3;\n\n\nres = Math.round(100*p/4096.0)/100.0;\n\nmsg.payload=res+\" hPa\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 895.566650390625,
        "y": 315.566650390625,
        "wires": [
            [
                "49240752.bab048"
            ]
        ]
    },
    {
        "id": "b4cbc1ba.bace",
        "type": "function",
        "z": "e04e14f5.0e49b8",
        "name": "Temp Out",
        "func": "var buf = new Buffer(8); \n\nbuf[0]=0x53;//start\nbuf[1]=0xB8;//i2c addr\nbuf[2]=0x01;//send data 1\nbuf[3]=0x2B;//TEMP_OUT_L\nbuf[4]=0x53;//restart\nbuf[5]=0xB8+1;//i2c addr+1, write addr+1 = read addr, \nbuf[6]=2;//recieve data 2\nbuf[7]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 483.566650390625,
        "y": 405.566650390625,
        "wires": [
            [
                "9121685.e6cce98"
            ]
        ]
    },
    {
        "id": "8bb8acff.e2ba18",
        "type": "inject",
        "z": "e04e14f5.0e49b8",
        "name": "温度読み込み",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270.566650390625,
        "y": 406.566650390625,
        "wires": [
            [
                "b4cbc1ba.bace"
            ]
        ]
    },
    {
        "id": "9121685.e6cce98",
        "type": "serial request",
        "z": "e04e14f5.0e49b8",
        "name": "",
        "serial": "c8df3964.3efad",
        "x": 713.566650390625,
        "y": 406.566650390625,
        "wires": [
            [
                "b367002c.d57b2"
            ]
        ]
    },
    {
        "id": "ff0ca768.9304a",
        "type": "debug",
        "z": "e04e14f5.0e49b8",
        "name": "結果",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1067.566650390625,
        "y": 410.5665283203125,
        "wires": []
    },
    {
        "id": "b367002c.d57b2",
        "type": "function",
        "z": "e04e14f5.0e49b8",
        "name": "チェックデータ",
        "func": "\n\nvar t1,t2,t,res;\n\nt1 = (msg.payload[1]<<8);\nt2 = msg.payload[0];\n\n\nt = t1 | t2;\n\n\nres = Math.round(100*t/100.0)/100.0;\n\nmsg.payload=res+\" ℃\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 898.566650390625,
        "y": 405.9666748046875,
        "wires": [
            [
                "ff0ca768.9304a"
            ]
        ]
    },
    {
        "id": "c8df3964.3efad",
        "type": "serial-port",
        "z": "",
        "serialport": "COM14",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "30",
        "bin": "bin",
        "out": "time",
        "addchar": "",
        "responsetimeout": ""
    }
]