SampleNodeRedFlow/Node-Red_RV-3028-C7_flows.json
[{"id":"96943676.7592a8","type":"tab","label":"フロー 12","disabled":false,"info":""},{"id":"3eaa5f53.9ce5d8","type":"debug","z":"96943676.7592a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":989.1167297363281,"y":594.5,"wires":[]},{"id":"ed0ed01b.2828a8","type":"serial request","z":"96943676.7592a8","name":"","serial":"7b1a2a97.73a96c","x":674.11669921875,"y":338.25,"wires":[["2f91b895.d1b1f8"]]},{"id":"38b489f4.523b8e","type":"function","z":"96943676.7592a8","name":"RTC読み込み","func":"var buf = new Buffer(8); \nbuf[0]=0x53;//start\nbuf[1]=0xA4;//i2c addr (0x32<1)\nbuf[2]=0x01;//send data 1\nbuf[3]=0x00;//offset 0\nbuf[4]=0x53;//restart\nbuf[5]=0xA5;//i2c addr (0x32<1)+1, write addr+1 = read addr\nbuf[6]=0x07;//recieve data 7\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":464.13330078125,"y":332,"wires":[["ed0ed01b.2828a8"]]},{"id":"5a7a49f4.d44c6","type":"inject","z":"96943676.7592a8","name":"","topic":"時刻　読み込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240.25,"y":237.25,"wires":[["38b489f4.523b8e"]]},{"id":"2f91b895.d1b1f8","type":"function","z":"96943676.7592a8","name":"受信データ数式変換","func":"var res={s:0,m:0,h:0,w:0,d:0,M:0,Y:0,str:\"\"};\nres.s=parseInt(msg.payload[0].toString(16));\nres.m=parseInt(msg.payload[1].toString(16));\nres.h=parseInt(msg.payload[2].toString(16));\nres.w=parseInt(msg.payload[3].toString(16));\nres.d=parseInt(msg.payload[4].toString(16));\nres.M=parseInt(msg.payload[5].toString(16));\nres.Y=parseInt(msg.payload[6].toString(16));\n\nvar week=\"\";\nif(res.w==0){\n    week=\"日\";\n}\nelse if(res.w==1){\n    week=\"月\";\n}\nelse if(res.w==2){\n    week=\"火\";\n}\nelse if(res.w==3){\n    week=\"水\";\n}\nelse if(res.w==4){\n    week=\"木\";\n}\nelse if(res.w==5){\n    week=\"金\";\n}\nelse if(res.w==6){\n    week=\"日\";\n}\nres.str= \"20\"+res.Y+\"/\"+res.M+\"/\"+res.d+\"(\"+ week +\") \"+res.h+\":\"+res.m+\":\"+res.s;\nmsg.payload=res;\nreturn msg;","outputs":1,"noerr":0,"x":797.0000305175781,"y":480,"wires":[["3eaa5f53.9ce5d8"]]},{"id":"da0c7b5b.7f1be","type":"serial out","z":"96943676.7592a8","name":"","serial":"7b1a2a97.73a96c","x":661.11669921875,"y":655.25,"wires":[]},{"id":"ecd6c49c.6eb38","type":"inject","z":"96943676.7592a8","name":"","topic":"時刻　書き込み","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":208,"y":572,"wires":[["cd95d387.933938"]]},{"id":"cd95d387.933938","type":"function","z":"96943676.7592a8","name":"RTC時刻書き込み","func":"var nowdate=new Date();\n\nvar year = nowdate.getFullYear();     // 年(4桁の西暦)\nvar mon  = nowdate.getMonth() + 1;    // 月(1～12)\nvar date = nowdate.getDate();         // 日(1～31)\nvar week = nowdate.getDay();          // 曜日(※0～6)\nvar hour = nowdate.getHours();        // 時(0～23)\nvar min  = nowdate.getMinutes();      // 分(0～59)\nvar sec  = nowdate.getSeconds();      // 秒(0～59)\n\n\n\nvar buf = new Buffer(12); \nbuf[0]=0x53;//start\nbuf[1]=0xA4;//i2c addr (0x32<1)\nbuf[2]=0x08;//send data 1\nbuf[3]=0x00;//offset 0\nbuf[4]=parseInt(sec, 16);\nbuf[5]=parseInt(min, 16);\nbuf[6]=parseInt(hour, 16);\nbuf[7]=parseInt(week, 16);\nbuf[8]=parseInt(date, 16);\nbuf[9]=parseInt(mon, 16);\nbuf[10]=parseInt(year%1000, 16);\nbuf[11]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":576,"wires":[["3eaa5f53.9ce5d8","da0c7b5b.7f1be"]]},{"id":"3606d20e.2bf04e","type":"comment","z":"96943676.7592a8","name":"RV-3028-C7 RTCサンプル","info":"","x":275,"y":129,"wires":[]},{"id":"7e780de0.efacdc","type":"serial request","z":"96943676.7592a8","name":"","serial":"7b1a2a97.73a96c","x":625.566650390625,"y":806.566650390625,"wires":[["3eaa5f53.9ce5d8"]]},{"id":"759bd80e.a849d8","type":"function","z":"96943676.7592a8","name":"モード読み込み","func":"var buf = new Buffer(8); \nbuf[0]=0x53;//start\nbuf[1]=0xA4;//i2c addr (0x32<1)\nbuf[2]=0x01;//send data 1\nbuf[3]=0x37;//offset 0\nbuf[4]=0x53;//restart\nbuf[5]=0xA5;//i2c addr (0x32<1)+1, write addr+1 = read addr\nbuf[6]=0x01;//recieve data 7\nbuf[7]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":425.583251953125,"y":800.316650390625,"wires":[["7e780de0.efacdc"]]},{"id":"254aaaec.94ce56","type":"inject","z":"96943676.7592a8","name":"","topic":"モード読込","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":191.699951171875,"y":705.566650390625,"wires":[["759bd80e.a849d8"]]},{"id":"5cccd803.055418","type":"inject","z":"96943676.7592a8","name":"","topic":"モード書込","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":191.566650390625,"y":645.566650390625,"wires":[["cbf31db2.c621d"]]},{"id":"cbf31db2.c621d","type":"function","z":"96943676.7592a8","name":"モード書き込み","func":"var buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0xA4;//i2c addr (0x32<1)\nbuf[2]=0x02;//send data 1\nbuf[3]=0x37;//offset 0\nbuf[4]=0x34;//TCE 1 & FEDE 1, BSM 1\nbuf[5]=0x50;//stop\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":443.566650390625,"y":649.566650390625,"wires":[["da0c7b5b.7f1be"]]},{"id":"7b1a2a97.73a96c","type":"serial-port","z":"","serialport":"COM14","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"30","bin":"bin","out":"time","addchar":"","responsetimeout":"2000"}]