SampleNodeRedFlow/Node-Red_Tepm_Humd_sensor_SHT31_.json
[{"id":"5ce5d530.a868a4","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"4b99b7e8.cce99","type":"inject","z":"5ce5d530.a868a4","name":"","topic":"リセット","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.86666870117188,"y":150,"wires":[["daeddff7.8bf3","1212b26c.9ea526"]]},{"id":"daeddff7.8bf3","type":"function","z":"5ce5d530.a868a4","name":"ソフトリセット1","func":"var buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0x88;//i2c addr (0x44 <1)\nbuf[2]=0x02;//send data 2\nbuf[3]=0x30;//data0\nbuf[4]=0xA2;//data1\nbuf[5]=0x50;//stop\n \nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":505.86669921875,"y":150.5,"wires":[["604597e7.2da75"]]},{"id":"fe3ae5ec.672a3","type":"debug","z":"5ce5d530.a868a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":895.86669921875,"y":765.25,"wires":[]},{"id":"a37719d7.2a826","type":"serial request","z":"5ce5d530.a868a4","name":"","serial":"c8df3964.3efad","x":601.86669921875,"y":499,"wires":[["c22c1260.06e"]]},{"id":"21d7a304.76ab2c","type":"function","z":"5ce5d530.a868a4","name":"ソフトリセット2","func":"var buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0x88;//i2c addr\nbuf[2]=0x02;//send data 2\nbuf[3]=0x30;//data0\nbuf[4]=0x41;//data1\nbuf[5]=0x50;//stop\n \nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":509.75,"y":213.75,"wires":[["604597e7.2da75"]]},{"id":"e6cf6f8e.18258","type":"function","z":"5ce5d530.a868a4","name":"ヒータ設定","func":"var buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0x88;//i2c addr\nbuf[2]=0x02;//send data 2\nbuf[3]=0x30;//data0\nbuf[4]=0x66;//data1 :heater off:0x66,on:0x6D\nbuf[5]=0x50;//stop\n \nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":308.5,"wires":[["604597e7.2da75"]]},{"id":"9bb9c48c.bd8b98","type":"function","z":"5ce5d530.a868a4","name":"温湿度読み込み","func":"var buf = new Buffer(4); \nbuf[0]=0x53;//start\nbuf[1]=0x89;//i2c addr (0x44<1+1), (write addr)+1= (read address)\nbuf[2]=0x06;//recieve data 6\nbuf[3]=0x50;//stop\n\n \nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":448.88330078125,"y":496.75,"wires":[["a37719d7.2a826"]]},{"id":"1238a155.96bf17","type":"function","z":"5ce5d530.a868a4","name":"温湿度取り込み","func":"var buf = new Buffer(6); \nbuf[0]=0x53;//start\nbuf[1]=0x88;//i2c addr\nbuf[2]=0x02;//send data 2\nbuf[3]=0x24;//data0\nbuf[4]=0x00;//data1\nbuf[5]=0x50;//stop\n \nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":452.9999694824219,"y":413.5,"wires":[["604597e7.2da75"]]},{"id":"bcb9ebde.d33998","type":"inject","z":"5ce5d530.a868a4","name":"","topic":"温湿度取得","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":136.99996948242188,"y":408,"wires":[["1238a155.96bf17","9041e325.62ef5"]]},{"id":"604597e7.2da75","type":"serial out","z":"5ce5d530.a868a4","name":"","serial":"c8df3964.3efad","x":789.86669921875,"y":299.5,"wires":[]},{"id":"1a86bf53.a92299","type":"comment","z":"5ce5d530.a868a4","name":"SHT31 読み込みサンプル","info":"","x":204.86666870117188,"y":78.5,"wires":[]},{"id":"c22c1260.06e","type":"function","z":"5ce5d530.a868a4","name":"受信データ数式変換","func":"var res={temp:0,humd:0};\nvar t=-45+(175*(msg.payload[0]*256+msg.payload[1])/65535);\nvar h=100*(msg.payload[3]*256+msg.payload[4])/65535;\nres.temp=Math.round(10*t)/10;\nres.humd=Math.round(10*h)/10;\nmsg.payload=res;\nreturn msg;","outputs":1,"noerr":0,"x":703.75,"y":650.75,"wires":[["fe3ae5ec.672a3"]]},{"id":"9041e325.62ef5","type":"delay","z":"5ce5d530.a868a4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":261.86663818359375,"y":496.75,"wires":[["9bb9c48c.bd8b98"]]},{"id":"1212b26c.9ea526","type":"delay","z":"5ce5d530.a868a4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":275.75,"y":211.75,"wires":[["21d7a304.76ab2c","abe0d556.a20468"]]},{"id":"abe0d556.a20468","type":"delay","z":"5ce5d530.a868a4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":276.75,"y":309.75,"wires":[["e6cf6f8e.18258"]]},{"id":"c8df3964.3efad","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"100","bin":"bin","out":"time","addchar":"","responsetimeout":""}]