SampleNodeRedFlow/Node-Red_SGP30_CO2_sensor.json
[{"id":"2f180e4d.516f8a","type":"tab","label":"フロー 16","disabled":false,"info":""},{"id":"9eadd65d.3d88a8","type":"function","z":"2f180e4d.516f8a","name":"getSerialID","func":"var buf = new Buffer(9); \n\nbuf[0]=0x53;//start\nbuf[1]=0xB0;//i2c addr\nbuf[2]=0x02;//send data 1\nbuf[3]=0x36;//get_serial_id\nbuf[4]=0x82;//get_serial_id \nbuf[5]=0x53;//restart\nbuf[6]=0xB0+1;//i2c addr+1, write addr+1 = read addr, \nbuf[7]=0x09;//recieve data 2\nbuf[8]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":388.56663513183594,"y":171.56666564941406,"wires":[["77c889a8.914928"]]},{"id":"bd7f2785.b6c9f8","type":"inject","z":"2f180e4d.516f8a","name":"初期化","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163.56663513183594,"y":171.56666564941406,"wires":[["9eadd65d.3d88a8"]]},{"id":"77c889a8.914928","type":"serial request","z":"2f180e4d.516f8a","name":"","serial":"7b1a2a97.73a96c","x":626.5666351318359,"y":171.56666564941406,"wires":[["fc13a847.1dcea"]]},{"id":"fc13a847.1dcea","type":"function","z":"2f180e4d.516f8a","name":"チェックデータ","func":"var serialid1 = (msg.payload[0]<<8)+msg.payload[1];\n\nvar checksum1 = msg.payload[2];\n\nvar serialid2 = (msg.payload[3]<<8)+msg.payload[4];\n\nvar checksum2 = msg.payload[5];\n\nvar serialid3 = (msg.payload[6]<<8)+msg.payload[7];\n\nvar checksum3 = msg.payload[8];\n\nvar serialid = (serialid1<<32) +  (serialid2<<16) + serialid3;\n\nmsg.payload = \"シリアルID: \" + serialid;\n\nreturn msg;","outputs":1,"noerr":0,"x":817.566650390625,"y":172.56654357910156,"wires":[["9aa2b4a5.69906","9a08ee46.fa08d8"]]},{"id":"9aa2b4a5.69906","type":"debug","z":"2f180e4d.516f8a","name":"結果","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1011.566650390625,"y":170.56654357910156,"wires":[]},{"id":"19cd3aa0.9d3095","type":"function","z":"2f180e4d.516f8a","name":"measure_air_quality","func":"var buf = new Buffer(6); \n\nbuf[0]=0x53;//start\nbuf[1]=0xB0;//i2c addr\nbuf[2]=0x02;//send data 2\nbuf[3]=0x20;//\nbuf[4]=0x08;//\nbuf[5]=0x50;//\n\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":458.566650390625,"wires":[["d3a46f7f.fbf34","c02c9965.03fbc"]]},{"id":"5669764d.93557","type":"comment","z":"2f180e4d.516f8a","name":"CO2 Sensor SGP30","info":"","x":163.9499969482422,"y":76.06666564941406,"wires":[]},{"id":"78428570.b2ffac","type":"serial out","z":"2f180e4d.516f8a","name":"","serial":"7b1a2a97.73a96c","x":855.566650390625,"y":241.56666564941406,"wires":[]},{"id":"6ad629e7.02d3a","type":"function","z":"2f180e4d.516f8a","name":"init_air_quality","func":"var buf = new Buffer(6); \n\nbuf[0]=0x53;//start\nbuf[1]=0xB0;//i2c addr\nbuf[2]=0x02;//send data 2\nbuf[3]=0x20;//init_air_quality\nbuf[4]=0x03;//\nbuf[5]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":594.566650390625,"y":243.56666564941406,"wires":[["78428570.b2ffac","2d1a2067.757a8"]]},{"id":"7d7e5c14.81f65c","type":"serial request","z":"2f180e4d.516f8a","name":"","serial":"7b1a2a97.73a96c","x":767.566650390625,"y":528.566650390625,"wires":[["447d41ad.474d68"]]},{"id":"40fbda85.55b594","type":"function","z":"2f180e4d.516f8a","name":"getAirQuality","func":"var buf = new Buffer(4); \n\n// buf[0]=0x53;//restart\n// buf[1]=0xB0+1;//i2c addr+1, write addr+1 = read addr, \n// buf[2]=0x06;//recieve data 2\n// buf[3]=0x50;//stop\n\nbuf[0]=0x53;//restart\nbuf[1]=0xB0+1;//i2c addr+1, write addr+1 = read addr, \nbuf[2]=0x06;//recieve data 2\nbuf[3]=0x50;//stop\n\nmsg.payload = buf;\nreturn msg;","outputs":1,"noerr":0,"x":589.566650390625,"y":528.566650390625,"wires":[["7d7e5c14.81f65c"]]},{"id":"fbc81699.bc5e28","type":"debug","z":"2f180e4d.516f8a","name":"結果","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1155.566650390625,"y":528.566650390625,"wires":[]},{"id":"d3a46f7f.fbf34","type":"delay","z":"2f180e4d.516f8a","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":411.566650390625,"y":526.566650390625,"wires":[["40fbda85.55b594"]]},{"id":"2d1a2067.757a8","type":"delay","z":"2f180e4d.516f8a","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":376.566650390625,"y":454.566650390625,"wires":[["19cd3aa0.9d3095"]]},{"id":"447d41ad.474d68","type":"function","z":"2f180e4d.516f8a","name":"チェックデータ","func":"var res={co2:0.0,tvoc:0.0};\n\nvar co2 = (msg.payload[0]<<8)+msg.payload[1];\n\nvar checksum1 = msg.payload[2];\n\n\nvar tvoc = (msg.payload[3]<<8)+msg.payload[4];\n\nvar checksum2 = msg.payload[5];\n\nres.co2 = co2 + \" ppm\";\nres.tvoc = tvoc + \" ppm\";\n\nmsg.payload=res;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":932.566650390625,"y":529.566650390625,"wires":[["fbc81699.bc5e28"]]},{"id":"792a2f9b.56c678","type":"inject","z":"2f180e4d.516f8a","name":"測定","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":168.56666564941406,"y":451.566650390625,"wires":[["2d1a2067.757a8"]]},{"id":"9a08ee46.fa08d8","type":"delay","z":"2f180e4d.516f8a","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":394.566650390625,"y":240.56666564941406,"wires":[["6ad629e7.02d3a"]]},{"id":"c02c9965.03fbc","type":"serial out","z":"2f180e4d.516f8a","name":"","serial":"7b1a2a97.73a96c","x":773.566650390625,"y":458.566650390625,"wires":[]},{"id":"10312cad.9eeefb","type":"comment","z":"2f180e4d.516f8a","name":"初期化後15秒間は　CO2=400, TVOC=0で固定されます","info":"","x":792.9499664306641,"y":362.06666564941406,"wires":[]},{"id":"7b1a2a97.73a96c","type":"serial-port","z":"","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"30","bin":"bin","out":"time","addchar":"","responsetimeout":""}]